{% extends "layout.twig" %}

{% block body %}
  <h1 id="games">{{ t.games.title }}</h1>

  <p>{{ t.games.description }}</p>
  <p>{{ t.games.disclaimer }}</p>

  <h2 id="favourites">{{ t.games.favourites.header }}</h2>
  <p>
    {{ t.games.favourites.description }}
    <ol>
      {% for key in games.favourites %}
        <li><a href="#game#{{key}}">{{ t.games.game[key].title }}</a></li>
      {% endfor %}
    </ol>
  </p>
  
  {% for category in games.categories %}

    <h2 id="{{ category }}">{{ t.games[category].header }}</h2>
    <div class="columns">

      {% for key in games[category] %}
        <div class="column-section">
          <h3 id="game#{{ key }}">
            {% if games.data[key].link %}
              <a target="_blank" href="{{ games.data[key].link }}">{{ t.games.game[key].title }}</a>
            {% else %}
              {{ t.games.game[key].title }}
            {% endif %}
          </h3>
          <p>{{ t.games.game[key].description }}</p>
        </div>
      {% endfor %}

    </div>

  {% endfor %}

{% endblock %}
