{% extends "layout.twig" %}

{% block body %}
  <h1 id="main_page">{{ t.main.title }}</h1>
  <ul>
    <li><a href="/me/">{{ t.me.title }}</a></li>
    <li><a href="/games/">{{ t.games.title }}</a></li>
    <li><a href="/projects/">{{ t.projects.title }}</a></li>
    <li><a href="/stuff/">{{ t.stuff.title }}</a></li>
    <li><a href="/music/">{{ t.music.title }}</a></li>
  </ul>
{% endblock %}
