<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Exo+2&family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <link href="/css/main.css" rel="stylesheet"> 
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <title>{{ t.meta.title }}</title>
  </head>
  <body>
    <header>
      <form action="/setLanguage/" method="GET">
        <select name="lang" id="language-select">
          {% for key, name in t.meta.lang.list %}
            {% if key == t.meta.lang.this %}
              <option value="{{ key }}" selected>{{ name }}</option>
            {% else %}
              <option value="{{ key }}">{{ name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <noscript>
          <input type="hidden" name="redirect" value="{{ url }}"></input>
          <input type="submit"></input>
        </noscript>
      </form>
    </header>
    <div id="background"></div>
    <div id="center-container"> {% block body %}{% endblock %} </div>
    <footer>
      {{ t.footer.author }}
      <br>
      {{ t.footer.host }}
      <br>
      <a href="/">{{ t.footer.mainPage }}</a> | <a href="https://gitlab.com/TadeLn/website" target="_blank">{{ t.footer.git }}</a>
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>
