{% extends "layout.twig" %}

{% block body %}
  <h1 id="me">{{ t.me.title }}</h1>

  <p>{{ t.me.games }}</p>
  <p>{{ t.me.programming }}</p>
  
  <ul>
    <li><a target="_blank" href="https://www.youtube.com/@tadeln">{{ t.me.links.youtube }}</a></li>
    <li><a target="_blank" href="https://www.youtube.com/@tade_">{{ t.me.links.youtube2 }}</a></li>
    <li><a target="_blank" href="https://www.twitch.tv/tadeln">{{ t.me.links.twitch }}</a></li>
    <li><a target="_blank" href="https://gitlab.com/TadeLn">{{ t.me.links.gitlab }}</a></li>
    <li><a target="_blank" href="https://tadeln.newgrounds.com/">{{ t.me.links.newgrounds }}</a></li>
    <li><a target="_blank" href="https://twitter.com/TadeLn">{{ t.me.links.twitter }}</a></li>
  </ul>
{% endblock %}
