{% extends "layout.twig" %}

{% block body %}
  <h1 id="music">{{ t.music.title }}</h1>

  <p>{{ t.music.description }}</p>

  <h2 id="songs">{{ t.music.songs }}</h2>
  <table class="stuff-table">
    <colgroup>
      <col style="width: 0;">
      <col style="width: 0;">
      <col style="width: 50%;">
      <col style="width: 50%;">
      <col style="width: 0;">
      <col style="width: 0;">
      <col style="width: 0;">
    </colgroup>
    <tbody>
      <tr>
        <th scope="col" style="min-width: max-content;">{{ t.music.table.column.number }}</th>
        <th scope="col" style="min-width: max-content;">{{ t.music.table.column.image }}</th>
        <th scope="col" style="min-width: max-content;">{{ t.music.table.column.title }}</th>
        <th scope="col" style="min-width: max-content;">{{ t.music.table.column.album }}</th>
        <th scope="col" style="min-width: max-content;">{{ t.music.table.column.dateCreated }}</th>
        <th scope="col" style="min-width: max-content;">{{ t.music.table.column.dateModified }}</th>
        <th scope="col" style="min-width: max-content;">{{ t.music.table.column.link }}</th>
      </tr>

      {% for id in music.songOrder %}
        {% set song = music.songs[id] %}
        {% set loop_index = loop.index %}
        <tr>
          <td style="min-width: max-content;">{{ loop_index }}</td>
          <td>
            {% if song.image %}
              <img src="{{ song.image }}" style="height: 4em;" />
            {% endif %}
          </td>
          <td>{{ song.title }}</td>
          <td>
            {% if song.album %}
              <a href='album?id={{ song.album }}'>{{ music.albums[song.album].title }}</a>
            {% else %}
              <i>{{ t.music.cell.none }}</i>
            {% endif %}
          </td>
          <td style="min-width: max-content;">
            {{ song.createTimestamp | date("Y-m-d") }}
          </td>
          <td style="min-width: max-content;">
            {% set lastVersion = song.versions | last %}
            {{ lastVersion.timestamp | date("Y-m-d") }}
          </td>
          <td style="min-width: max-content;">
            <a href="song?id={{ id }}">{{ t.music.table.cell.moreInfo }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
