{% extends "layout.twig" %}

{% block body %}
  <h1 id="stuff">{{ t.stuff.title }}</h1>

  <p>{{ t.stuff.description }}</p>

  {# {% include "wip.twig" %} #}

  {% for categoryId, category in stuff.categories %}
    <h2 id="{{ categoryId }}">{{ t.stuff.categories[categoryId].header }}</h2>
    <table class="stuff-table">
      <colgroup>
        {% for col in category.columns %}
          {% if col == "number" or col == "tags" or col == "timestamp" or col == "link" %}
            <col style="width: 0;">

          {% elseif col == "song_artist" or col == "song_title" %}
            <col style="width: 50%;">

          {% else %}
            <col>

          {% endif %}
        {% endfor %}
      </colgroup>
      <tbody>
        <tr>
          {% for col in category.columns %}
            <th scope="col" style="min-width: max-content;">{{ t.stuff.table.column[col] }}</th>
          {% endfor %}
        </tr>
        {% for id in category.itemsOrder %}
          <tr>
            {% set item = category.items[id] %}
            {% set loop_index = loop.index %}

            {% for col in category.columns %}
              {% if col == "number" %}
                <td style="min-width: max-content;">{{ loop_index }}</td>

              {% elseif col == "song_artist" %}
                <td>{{ item.artist }}</td>

              {% elseif col == "song_title" %}
                <td>{{ item.title }}</td>

              {% elseif col == "tags" %}
                <td class="tags">
                  {% for tagId in item.tags | sort %}
                    {% set tag = t.stuff.table.tags[tagId] %}
                    <span class="tag tag-{{ tagId }}" title="{{ tag.description }}">
                      {% if tag.fullname %}
                        <span class="shortname">{{ tag.name }}</span>
                        <span class="fullname">{{ tag.fullname }}</span>
                      {% else %}
                        {{ tag.name }}
                      {% endif %}
                    </span>
                  {% endfor %}
                </td>

              {% elseif col == "timestamp" %}
                {% set lastVersion = item.versions | last %}
                <td style="min-width: max-content;">
                {{ lastVersion.timestamp | date("Y-m-d") }}
                </td>

              {% elseif col == "link" %}
                <td style="min-width: max-content;">
                  <a href="{{ categoryId }}?id={{ id }}">{{ t.stuff.table.cell.moreInfo }}</a>
                </td>

              {% else %}
                <td><i>{{ t.stuff.table.cell.invalidColumn }}</i></td>

              {% endif %}
            {% endfor %}
          </tr>
        </tbody>
      {% endfor %}
    </table>
  {% endfor %}

{% endblock %}
