body {
  --default-font: 'Exo 2', sans-serif;
  --header-font: 'Acme', sans-serif;
  --retro-font: 'Press Start 2P', cursive, monospace;

  background-color: #101010;
  color: #fff;
  font-family: var(--default-font);
  margin: 0;
  padding: 0;

  /* background-image: url("/img/background.jpg"); */
  background-size: cover;
  background-position-x: center;

  font-size: 12pt;
}

h1, h2 {
  margin-block: 0;
  font-weight: 400;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  font-family: var(--header-font);
  padding-bottom: 2px;
  border-bottom: 1px solid #7f7f7f7f;
}

* + h1,
* + h2 {
  margin-top: 1.5em;
}

pre {
  white-space: break-spaces;
  font-size: 12pt;
}

a,
a:visited {
  color: #58a2c2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #58c2a2;
} 

a[target="_blank"]:hover,
a[target="_blank"]:visited:hover {
  /* color: #71eaf3; */
  color: #e2e228;
}

a:active,
a[target="_blank"]:active,
a:visited[target="_blank"]:active {
  color: #fff;
}

.tooltip {
  position: relative;
}

.tooltip .tooltipText {
  --tooltip-width: 180px;

  width: var(--tooltip-width);
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  margin-left: calc(var(--tooltip-width) / -2);

  user-select: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  opacity: 1;
}


.columns {
  column-count: 3;
}

.columns .column-section {
  break-inside: avoid-column;
}


.header-anchor,
.header-anchor:visited {
  color: #888;
  visibility: hidden;
}

.header-anchor:hover {
  text-decoration: none;
}

:hover > .header-anchor {
  visibility: visible;
}



.wip-sign {
  width: max-content;
  max-width: 100%;
  padding: 20px 50px;
  margin: auto;

  background-color: rgba(128, 128, 0, 0.5);
  text-align: center;
  font-family: monospace;

  border: 5px solid transparent;
  border-image: 16 repeating-linear-gradient(-45deg,
    yellow 0, yellow 1em,
    black 0, black 2em
  );
  box-sizing: border-box;
}

.wip-sign h3 {
  text-transform: uppercase;
  /* font-variant: small-caps; */
  font-size: 20pt;
  font-family: var(--retro-font);
}

.wip-sign p {
  /* font-variant: small-caps; */
  font-size: 12pt;
}



spoiler {
  background-color: #1e1e1e;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

spoiler.hidden {
  color: transparent;

  user-select: none;
  cursor: pointer;
}

spoiler.hidden:hover {
  background-color: #252525;
}

spoiler.revealed {
  background-color: #252525;
  color: #fff;

  user-select: unset;
  cursor: unset;
}

spoiler.revealed:hover .tooltipText {
  opacity: 0;
}



::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #252525;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

header {
  text-align: right;
  margin: 30px;
}

#center-container {
  position: relative;
  background-color: #1e1e1e9f;

  width: 80%;
  padding: 30px;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 20px;
  overflow-x: hidden;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  overflow: hidden;

  background-image: url("/img/background.jpg");
  background-size: cover;
  background-position-x: center;

  overflow: hidden;
  z-index: -100;
  filter: blur(0.5em);
}

footer {
  background-color: #1e1e1e9f;
  text-align: center;
  line-height: 1.25;

  width: 80%;
  padding: 20px;
  margin: 40px auto;
  box-sizing: border-box;
  border-radius: 20px;
}



.stuff-table {
  width: 100%;
  border-collapse: collapse;
}

.stuff-table td {
  border-top: 1px solid #7f7f7f7f;
}

.stuff-table td,
.stuff-table th {
  text-align: center;
  padding: 10px 10px;
}

.stuff-table td.tags {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

span.tag {
  --tag-color: black;
  color: white;
  font-weight: 800;
  font-size: 8pt;
  background-color: var(--tag-color);
  border-radius: 8px;
  padding: 4px 8px;
  font-family: var(--retro-font);
  text-shadow: #0007 2px 2px;
}

span.tag-wip {
  --tag-color: rgb(223, 202, 18);
}

span.tag-bad {
  --tag-color: rgb(77, 59, 13);
}

span.tag-veryhard {
  --tag-color: rgb(255, 0, 0);
}

span.tag-unconventional {
  --tag-color: rgb(155, 12, 184);
}

span.tag-meme {
  --tag-color: rgb(24, 250, 239);
}

span.tag-mistimed {
  --tag-color: rgb(71, 107, 92);
}

span.tag .fullname {
  display: none;
}

span.tag:hover .shortname {
  display: none;
}

span.tag:hover .fullname {
  display: inline;
}



@media only screen and (max-width: 1400px) {
  .columns {
    column-count: 2;
  }
}

@media only screen and (max-width: 900px) {
  #center-container,
  footer {
    width: 90%;
  }

  .columns {
    column-count: 1;
  }
}

@media only screen and (max-width: 600px) {
  #center-container,
  footer {
    width: 100%;
  }
}
